$yellow1: rgb(255, 180, 42);
$yellow2: #FFE08B;
$yellow3: #ffe08b;
$yellow4: #FFC832;
$white1: #ffffff;
$white2: #f2f2f2f2;
$white3: #CBCBCB;
$dark1: #000;
$dark2: rgb(4, 4, 19);
$gray1: #696969;
$gray2: #8B8B8B;
$blue1: #0836e0;
$red1: #EF4647;

$colours: "yellow1" #FFC832,
"yellow2" #FFE08B,
"white1" #ffffff,
"white2" #f2f2f2f2,
"white3" #CBCBCB,
"dark1" #000,
"dark2" rgb(4, 4, 19),
"gray1" #696969,
"gray2" #8B8B8B,
"blue1" #0836e0,
"red1" #EF4647;

@each $i in $colours {
  .bg-#{nth($i, 1)} {
    background-color: nth($i, 2) !important;
    background: nth($i, 2) !important;
  }

  .color-#{nth($i, 1)} {
    color: nth($i, 2) !important;
  }

  .border-#{nth($i, 1)} {
    border: 1px solid nth($i, 2) !important;
  }
}